{% extends "base.html" %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
<style>
.book-detail-wrapper {
    margin-top: 40px;
}
</style>
{% endblock %}

{% block content %}
<div class="row book-detail-wrapper">

    <div class="col-md-5">
        <img src="{{ book.image.url }}" 
             class="img-fluid book-detail-image"
             alt="{{ book.title }}">
    </div>

    <div class="col-md-7">
        <h2 class="book-detail-title">{{ book.title }}</h2>

        <p class="book-author">By {{ book.author }}</p>

        <div class="book-meta">
            <p><strong>Category:</strong> {{ book.get_category_display }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        </div>

        <h4 class="book-price">₹{{ book.price }}</h4>

        <p class="book-description">{{ book.description }}</p>
{% if user.is_authenticated %}
        <a href="{% url 'cart:add' book.isbn %}" class="btn btn-success book-detail-btn">
            Add to Cart
        </a>
        {% endif %}
    </div>

</div>
{% endblock %}
